*, *::before, *::after {
    box-sizing: border-box;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.popup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: popupAnim 0.5s linear 2s forwards;
    transform: scale(0);
}

.popup_form_block {
    width: 530px;
    height: 530px;
    display: flex;
}

.popup_block {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    z-index: 100;
}

.big-star {
    font-size: 30px;
}

.close-icon {
    margin-left: 40px;
}
.fa-times-circle {
    font-size: 46px;
    cursor: pointer;
}

@keyframes popupAnim {
    0%   { transform: scale(0) }
    100% { transform: scale(1) }
}

.star-popup-field {
    width: 105px;
    height: 40px;
}
.text-popup-field {
    width: 350px;
    height: 80px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
}
.input-popup-field {
    width: 350px;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding-left: 12px;
}
.button-popup-field {
    width: 350px;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}
.info {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 350px;
    left: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}