.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.popup_container {
    width: 100%;
    height: 100%;
}

.popup_block {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    z-index: 100;
    animation: popupAnim 0.5s linear 2s forwards;
    transform: scale(0);
}

.big-star {
    font-size: 30px;
}

@keyframes popupAnim {
    0%   { transform: scale(0) }
    100% { transform: scale(1) }
}

.star-popup-field {
    width: 105px;
    height: 40px;
}
.text-popup-field {
    width: 350px;
    height: 80px;
    min-height: 40px;
}
.input-popup-field {
    width: 350px;
    height: 40px;
}
.button-popup-field {
    width: 350px;
    height: 40px;
}
.info {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 350px;
    left: 0;
}